## Data Validation - Disbursals

---

***Comparing Disbursal Data Between Filevine Reports and Attorney EOM Reports***

* Goal: to ensure all data is recorded accurately for both Filevine and for attorney reports.
* Data Sources: Comprehensive EOM disbursal report (Excel workbook; manually updated monthly); Filevine-generated "List of Settlement Items" report (Excel workbook; updated manually on demand)
* Intended End Result:
    * MVP: Pandas dataframe consisting of fully-matched data b/t Filevine and EOM reports
* Challenges:
    * FV Data: potentially multiple disbursals per record; split and append before analyzing
    * EOM Data: data extracted from scanned PDFs using PowerToys; may not be 100% accurate

---

# Import Packages and Load Data

In [1]:
import numpy as np
import pandas as pd

## Load Data - Filevine

In [3]:
df_fv = pd.read_excel('../data/filevine_reports/Data Validation - EOM Disbursals.xlsx')
df_fv.head()

,Item ID,Item Created Date,Item URL,Project Name,Client Full Name,Matter Number,Attorney Full Name,Litigation Paralegal Full Name,Date Disbursed,JLG Fee,Disbursed By Full Name,Second Disbursement Date,JLG Fee 2,Disbursed By 2 Full Name,Internal Attorney Fee To Full Name,Internal Attorney Fee,Internal Attorney Fee Date
0,c342a02d-dc71-4916-ad24-39dc684fd37e,2023-05-05 20:41:10,https://jaklitschlawgroup.filev.io/r/i/c342a02...,"Foster, Damion 5/16/12 12-210",Unknown Client_AEC4AA0703562362,12-210,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1,2455b28e-8e6d-4647-bdb3-26694722610d,2023-05-05 20:40:13,https://jaklitschlawgroup.filev.io/r/i/2455b28...,"Forte, Sadiki 3/8/11 11-148",Sadiki J. Forte,11-148,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2,e7d33f53-fb5c-4c6a-8542-9626f457815e,2023-05-05 20:40:13,https://jaklitschlawgroup.filev.io/r/i/e7d33f5...,"Walker, Michael 7/31/11 11-403",Michael N. Walker,11-403,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
3,00afcb16-03c4-49d9-962a-751e2d5d7a29,2023-05-05 20:40:13,https://jaklitschlawgroup.filev.io/r/i/00afcb1...,"Callinder, Shavar 1/20/11 11-073",Shavar Callinder,11-073,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
4,307c6ffe-6fde-4f2a-8971-e47b06a4745e,2023-05-05 20:39:52,https://jaklitschlawgroup.filev.io/r/i/307c6ff...,"Jones, Christopher (DECEASED) 5/30/09 09-371",Christopher Jones,09-371,NaN,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN

## Load Data - EOM Disbursal Reports

In [4]:
df_eom = pd.read_excel('../data/eom_reports/EOM_Disbursals_Comprehensive_List.xlsx')
df_eom.head()

,Attorney Name,Disbursal Date,Matter Number,Client Name,JLG Fee Amount,Attorney Fee Amount
0,David N Jaklitsch,2025-05-30,23-491,Weston Chanaud-Keidel,55555.55,27777.78
1,David N Jaklitsch,2025-05-30,23-521,"Henry, Chun",7608.45,NaN
2,David N Jaklitsch,2025-05-30,24-310,"Gordon, Krysannia",5666.66,NaN
3,David N Jaklitsch,2025-05-28,23-141,"Gibson, Gary",3466.67,1733.33
4,David N Jaklitsch,2025-05-27,22-570,"Fontanez, Courtney",3870.65,NaN

## Data Cleaning - FV

In [5]:
df_fv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9487 entries, 0 to 9486
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Item ID                             9487 non-null   object
 1   Item Created Date                   9487 non-null   datetime64[ns]
 2   Item URL                            9487 non-null   object
 3   Project Name                        9487 non-null   object
 4   Client Full Name                    9487 non-null   object
 5   Matter Number                       9487 non-null   object
 6   Attorney Full Name                  9461 non-null   object
 7   Litigation Paralegal Full Name      799 non-null    object
 8   Date Disbursed                      1136 non-null   datetime64[ns]
 9   JLG Fee                             1184 non-null   float64
 10  Disbursed By Full Name              20 non-null     object
 11  Second Disbursement Date            46 non-null     datetime64[ns]
 12  JLG Fee 2                           88 non-null     float64
 13  Disbursed By 2 Full Name            0 non-null      float64
 14  Internal Attorney Fee To Full Name  103 non-null    object
 15  Internal Attorney Fee               103 non-null    float64
 16  Internal Attorney Fee Date          3 non-null      float64
dtypes: datetime64[ns](3), float64(5), object(9)
memory usage: 1.2+ MB

In [6]:
datetime_cols = ['Item Created Date', 'Date Disbursed', 'Second Disbursement Date', 'Internal Attorney Fee Date']

for col in datetime_cols:
    df_fv[col] = pd.to_datetime(df_fv[col], errors='raise')

df_fv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9487 entries, 0 to 9486
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Item ID                             9487 non-null   object
 1   Item Created Date                   9487 non-null   datetime64[ns]
 2   Item URL                            9487 non-null   object
 3   Project Name                        9487 non-null   object
 4   Client Full Name                    9487 non-null   object
 5   Matter Number                       9487 non-null   object
 6   Attorney Full Name                  9461 non-null   object
 7   Litigation Paralegal Full Name      799 non-null    object
 8   Date Disbursed                      1136 non-null   datetime64[ns]
 9   JLG Fee                             1184 non-null   float64
 10  Disbursed By Full Name              20 non-null     object
 11  Second Disbursement Date            46 non-null     datetime64[ns]
 12  JLG Fee 2                           88 non-null     float64
 13  Disbursed By 2 Full Name            0 non-null      float64
 14  Internal Attorney Fee To Full Name  103 non-null    object
 15  Internal Attorney Fee               103 non-null    float64
 16  Internal Attorney Fee Date          3 non-null      datetime64[ns]
dtypes: datetime64[ns](4), float64(4), object(9)
memory usage: 1.2+ MB

In [ ]:
df_fv1 = df_fv.loc[:, ['Item ID', 'Date Disbursed','JLG Fee','Disbursed By Full Name']]
df_fv1

,Item ID,Date Disbursed,JLG Fee,Disbursed By Full Name
0,c342a02d-dc71-4916-ad24-39dc684fd37e,NaT,NaN,NaN
1,2455b28e-8e6d-4647-bdb3-26694722610d,NaT,NaN,NaN
2,e7d33f53-fb5c-4c6a-8542-9626f457815e,NaT,NaN,NaN
3,00afcb16-03c4-49d9-962a-751e2d5d7a29,NaT,NaN,NaN
4,307c6ffe-6fde-4f2a-8971-e47b06a4745e,NaT,NaN,NaN
...,...,...,...,...
9482,56b643e3-b4a5-4bc0-85e0-3b8aa2de19d2,2025-03-27,8333.33,NaN
9483,a4af76c4-1b29-42ac-a434-a10dbef5aecc,2025-03-19,300.00,NaN
9484,36058451-2c4e-4f61-b100-aee5c714bbd8,2025-03-18,7000.00,NaN
9485,bf6c48e7-50ac-47ac-b621-814be2f6c7de,2025-05-30,7608.45,David N Jaklitsch
9486,6b765191-3188-4255-9415-56803c24d1c4,2025-02-24,300.00,Richard L Jaklitsch

In [9]:
df_fv2 = df_fv.loc[:, ['Item ID', 'Second Disbursement Date','JLG Fee 2','Disbursed By 2 Full Name']]
df_fv2 = df_fv2.rename(columns={'Second Disbursement Date': 'Date Disbursed',
                                'JLG Fee 2': 'JLG Fee',
                                'Disbursed By 2 Full Name': 'Disbursed By Full Name'})
df_fv2

,Item ID,Date Disbursed,JLG Fee,Disbursed By Full Name
0,c342a02d-dc71-4916-ad24-39dc684fd37e,NaT,NaN,NaN
1,2455b28e-8e6d-4647-bdb3-26694722610d,NaT,NaN,NaN
2,e7d33f53-fb5c-4c6a-8542-9626f457815e,NaT,NaN,NaN
3,00afcb16-03c4-49d9-962a-751e2d5d7a29,NaT,NaN,NaN
4,307c6ffe-6fde-4f2a-8971-e47b06a4745e,NaT,NaN,NaN
...,...,...,...,...
9482,56b643e3-b4a5-4bc0-85e0-3b8aa2de19d2,NaT,NaN,NaN
9483,a4af76c4-1b29-42ac-a434-a10dbef5aecc,NaT,NaN,NaN
9484,36058451-2c4e-4f61-b100-aee5c714bbd8,NaT,NaN,NaN
9485,bf6c48e7-50ac-47ac-b621-814be2f6c7de,NaT,NaN,NaN
9486,6b765191-3188-4255-9415-56803c24d1c4,NaT,NaN,NaN

In [13]:
df_fv_appended  = pd.concat([df_fv1, df_fv2], ignore_index=True)
df_fv_appended = df_fv_appended.sort_values(by='Item ID', ignore_index=True)
df_fv_appended

,Item ID,Date Disbursed,JLG Fee,Disbursed By Full Name
0,000f9d4c-83e7-48f6-9a88-239f0c396d43,NaT,NaN,NaN
1,000f9d4c-83e7-48f6-9a88-239f0c396d43,NaT,NaN,NaN
2,001fd696-edef-4ecb-a764-076cbfcc7ca3,NaT,NaN,NaN
3,001fd696-edef-4ecb-a764-076cbfcc7ca3,NaT,NaN,NaN
4,00267340-a4c1-424a-ab30-e3216f00d92e,NaT,NaN,NaN
...,...,...,...,...
18969,fff75a3d-8395-4b19-a277-5c96a443412c,NaT,NaN,NaN
18970,fffb6857-4ba5-4ce1-8aa0-0327049d4eb9,NaT,NaN,NaN
18971,fffb6857-4ba5-4ce1-8aa0-0327049d4eb9,NaT,NaN,NaN
18972,fffe471f-76b4-43e8-9253-265cc15e6136,NaT,NaN,NaN
18973,fffe471f-76b4-43e8-9253-265cc15e6136,NaT,NaN,NaN

In [15]:
pd.merge(df_fv, df_fv_appended, on=['Item ID'], how='outer')

,Item ID,Item Created Date,Item URL,Project Name,Client Full Name,Matter Number,Attorney Full Name,Litigation Paralegal Full Name,Date Disbursed_x,JLG Fee_x,Disbursed By Full Name_x,Second Disbursement Date,JLG Fee 2,Disbursed By 2 Full Name,Internal Attorney Fee To Full Name,Internal Attorney Fee,Internal Attorney Fee Date,Date Disbursed_y,JLG Fee_y,Disbursed By Full Name_y
0,000f9d4c-83e7-48f6-9a88-239f0c396d43,2023-05-05 20:39:10,https://jaklitschlawgroup.filev.io/r/i/000f9d4...,"Redd, Christine 9/06/2017 17-432",Christine Redd,17-432,Richard L Jaklitsch,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
1,000f9d4c-83e7-48f6-9a88-239f0c396d43,2023-05-05 20:39:10,https://jaklitschlawgroup.filev.io/r/i/000f9d4...,"Redd, Christine 9/06/2017 17-432",Christine Redd,17-432,Richard L Jaklitsch,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
2,001fd696-edef-4ecb-a764-076cbfcc7ca3,2023-05-05 20:37:39,https://jaklitschlawgroup.filev.io/r/i/001fd69...,"Kleftakis, Mariaane 7/19/96 97251",Unknown Client_A789A98FE6832692,97251,Richard L Jaklitsch,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
3,001fd696-edef-4ecb-a764-076cbfcc7ca3,2023-05-05 20:37:39,https://jaklitschlawgroup.filev.io/r/i/001fd69...,"Kleftakis, Mariaane 7/19/96 97251",Unknown Client_A789A98FE6832692,97251,Richard L Jaklitsch,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
4,00267340-a4c1-424a-ab30-e3216f00d92e,2023-05-05 20:40:42,https://jaklitschlawgroup.filev.io/r/i/0026734...,"Ducellier, Jason WC 1/9/08 WC1022",Jason Ducellier,WC1022,Robert J Zarbin,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18969,fff75a3d-8395-4b19-a277-5c96a443412c,2023-12-13 13:27:24,https://jaklitschlawgroup.filev.io/r/i/fff75a3...,"Johnson, Lakeshia 12/16/2022 22-614",Lakeshia Johnson,22-614,Richard L Jaklitsch,NaN,2024-01-09,8600.0,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
18970,fffb6857-4ba5-4ce1-8aa0-0327049d4eb9,2023-05-05 20:40:13,https://jaklitschlawgroup.filev.io/r/i/fffb685...,"Harrison, Shenell 12/24/2015 18-496",Shenell Harrison,18-496,Richard L Jaklitsch,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
18971,fffb6857-4ba5-4ce1-8aa0-0327049d4eb9,2023-05-05 20:40:13,https://jaklitschlawgroup.filev.io/r/i/fffb685...,"Harrison, Shenell 12/24/2015 18-496",Shenell Harrison,18-496,Richard L Jaklitsch,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
18972,fffe471f-76b4-43e8-9253-265cc15e6136,2023-05-05 20:37:09,https://jaklitschlawgroup.filev.io/r/i/fffe471...,"Hines, Jacqueline 11/28/06 07051",Jacqueline Hines,7051,Richard L Jaklitsch,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
18973,fffe471f-76b4-43e8-9253-265cc15e6136,2023-05-05 20:37:09,https://jaklitschlawgroup.filev.io/r/i/fffe471...,"Hines, Jacqueline 11/28/06 07051",Jacqueline Hines,7051,Richard L Jaklitsch,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN